<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  Dados do cliente:
  <br>
  <%= @calculadora.nome %>
  <br>
  <%= @calculadora.email %>
  <br>
  <%= @calculadora.telefone %>
</p>

<p>
  Olá, <%= @calculadora.nome %>
</p>
<p>
  Obrigado por entrar em contato com a Norte Sul Energia Solar.
</p>

<p>
  Em anexo você vai encontrar a proposta detalhada que preparamos para você com as informações que você forneceu em nosso site.
</p>

<p>
  Em breve a nossa equipe entrará em contato com você.
</p>

<p>
  Obrigado por fazer parte da mudança.
</p>

<p>
  Atenciosamente,<br>
  Norte Sul Energia Solar
</p>

<p>
  Siga a Norte Sul Energia nas Redes Sociais:<br>
  <%= link_to 'Facebook.com/nortesulenergia', 'http://facebook.com/nortesulenergia' %><br>
  <%= link_to 'Instagram.com/nortesulenergia', 'https://www.instagram.com/nortesulenergia/' %>
</p>

</body>
</html>
